body {
    margin-top: 0;
}

#container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    background: #e4edf2;  /* pale blue */
    flex: initial; /* flex: 0 1 auto */
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #e4edf2;  /* pale blue */
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #e4edf2;  /* pale blue */
}

nav {
    width: 95%;
    margin: 1em 0;
    padding: 0.5em 2.5%;
    flex: initial; /* flex: 0 1 auto */
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
}

nav::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
}

button {
    width: 120px;
    margin-right: 20px;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 600;
}

@media (width >= 300px) {
    button {
        font-size: 0.875em; /* 14px */
    }
}

@media (width >= 400px) {
    button {
        font-size: 0.9375em; /* 15px */
    }
}

@media (width >= 500px) {
    button {
        font-size: 1em; /* 16px */
    }
}

@media (width >= 600px) {
    button {
        font-size: 1.0625em; /* 17px */
    }
}

button:hover {
    cursor: pointer;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.page-title {
    width: 95%;
    margin: 1em 2.5%;
    padding: 0;
    border-bottom: 2px solid #e4edf2;  /* pale blue */
    flex: initial; /* flex: 0 1 auto */
}

section {
    width: 95%;
    margin: 0 2.5%;
    padding: 0.25em 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

.origin,
.destination {
    width: 20%;
    text-align: center;
}

.flight {
    width: 15%;
    text-align: center;
}

.airline {
    width: 25%;
    text-align: center;
}

.status {
    width: 15%;
    text-align: center;
}

.time-sch {
    width: 10%;
    text-align: center;
}

.time-act {
    width: 10%;
    text-align: center;
}

.warm-blue {
    background: #7ed1f2; /* warm blue */
}

.pale-blue {
    background: #e4edf2;  /* pale blue */
}

.mid-green {
    background: #4FA637; /* mid-green */
}

/* Fonts */
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: 400;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.lite-txt {
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.emphasis {
    color: #122459; /* dark blue */
    font-weight: 500;
}

@media (width >= 300px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1em; /* 16px */
    }

    h2 {
        font-size: 0.9375em; /* 15px */
    }
}

@media (width >= 400px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.0625em; /* 17px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }
}

@media (width >= 500px) {
    p {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.125em; /* 18px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (width >= 600px) {
    p {
        font-size: 1.0625em; /* 17px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2 {
        font-size: 1.125em; /* 18px */
    }
}
